<div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
    <div class="logo-containter">
        <div class="logo" (click)="goToShellApp()">
            <img class="black-and-white" src="assets/logos/lamb-logo-black-and-white.svg" alt="Lamb">
            <img class="full-color" src="assets/logos/lamb-logo-full-color.svg" alt="Lamb">
        </div>
    </div>
</div>

<div class="center">
    <div class="header-container" [class.left]="position === 'normal'" [class.right]="position === 'inverse'">
        <div class="navigation" (click)="toggleSidebar()">
            <nb-icon icon="menu-outline"></nb-icon>
        </div>
    </div>
    <nb-actions size="medium" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
        <nb-action class="user-action">
            <nb-user [nbContextMenu]="userMenu" [onlyPicture]="userPictureOnly" nbContextMenuTag="context-menu-profile"
                [name]="user?.full_name" [title]="user?.email" [picture]="user?.picture"></nb-user>
        </nb-action>
        <nb-action class="control-item">
            <lamb-identity-enterprise [onlyId]="userPictureOnly" [id]="enterprise?.entity_id"
                [name]="enterprise?.entity_name">
            </lamb-identity-enterprise>
        </nb-action>
        <nb-action class="control-item">
            <lamb-identity-enterprise [onlyId]="userPictureOnly" [id]="enterprise?.departament_id"
                [name]="enterprise?.departament_name">
            </lamb-identity-enterprise>
        </nb-action>
        <!-- <nb-action class="control-item lamb-time-other-options">
            <i class="lamb-icon-right nb-notifications"></i>
            <i class="lamb-icon-right nb-gear"></i>
        </nb-action> -->
    </nb-actions>
</div>

<div class="header-container" [class.right]="position === 'normal'" [class.left]="position === 'inverse'">
    <div class="navigation-end" (click)="onLogout()">
        <nb-icon icon="log-out-outline"></nb-icon>
    </div>
</div>