<!-- Bienvenido al registro de ventas. -->
<nb-card>
    <nb-card-header>
        <nb-icon icon="file-text-outline"></nb-icon>
        Agregar venta
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="saleServiceForm">
            <div class="row">
                <div class="offset-md-3 col-md-3">
                    <div class="form-group row">
                        <label for="id_tipo_documento"
                            class="col-md-3 col-form-label col-form-label-sm text-right">Documento</label>
                        <div class="col-md-9">
                            <!-- <select name="" formControlName="id_comprobante">
                                <option *ngFor="let item of tipoComprobantes" [value]="item.id_comprobante">
                                        {{ item.id_comprobante }}-{{ item.nombre }}
                                </option>
                            </select> -->
                            <nb-select placeholder="Tipo de documento" fullWidth [size]="'small'"
                                formControlName="id_comprobante">
                                <nb-option *ngFor="let item of tipoComprobantes" [value]="item.id_comprobante">
                                    {{ item.id_comprobante }}-{{ item.nombre }}
                                </nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="id_cliente" class="col-md-3 col-form-label col-form-label-sm text-right">Cliente</label>
                        <div class="col-md-9">
                            <ng-template #rtCliente let-r="result" let-t="term">{{ r.nom_persona }} ({{ r.num_documento }})
                            </ng-template>
                            <input type="text" placeholder="Buscar..." fullWidth nbInput fieldSize="small"
                                [ngbTypeahead]="searchCliente" [inputFormatter]="formatterCliente"
                                [resultTemplate]="rtCliente">
                        </div>
                        <!-- <div class="col-md-2">
                            <button nbButton size="small">
                                <nb-icon icon="save-outline"></nb-icon>
                                Sunat
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="offset-md-3 col-md-3">
                    <div class="form-group row">
                        <label for="id_cliente" class="col-md-3 col-form-label col-form-label-sm text-right">Artículo</label>
                        <div class="col-md-9">
                            <input type="text" placeholder="Buscar" fullWidth nbInput fieldSize="small">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group row">
                        <label for="id_cliente" class="col-md-3 col-form-label col-form-label-sm text-right">Cantidad</label>
                        <div class="col-md-5">
                            <input type="text" class="text-right" placeholder="00.00" fullWidth nbInput
                                fieldSize="small">
                        </div>
                        <div class="col-md-2">
                            <button nbButton size="small">
                                <nb-icon icon="save-outline"></nb-icon>
                                Agregar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-md-12">
                <div class="table-reponsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Artículo</th>
                                <th>Cantidad</th>
                                <th class="text-right">Costo</th>
                                <th class="text-right">Descuento</th>
                                <th class="text-right">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Formato de solicitud XXX</td>
                                <td>2</td>
                                <td class="text-right">2.00</td>
                                <td class="text-right">0.00</td>
                                <td class="text-right">4.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Formato de beca XXX</td>
                                <td>2</td>
                                <td class="text-right">5.50</td>
                                <td class="text-right">0.00</td>
                                <td class="text-right">11.00</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Formato de beca XXX</td>
                                <td>2</td>
                                <td class="text-right">5.50</td>
                                <td class="text-right">0.00</td>
                                <td class="text-right">11.00</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr class="text-right">
                                <th colspan="5">Total</th>
                                <th>15.00</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>